/* .App {
  text-align: center;
} */

.title {
  /* background-color: #268085; */
  color: black;
  padding: 2%;
  margin: 0.5% 5%;
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
}

.list-users {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  /* align-items: center; */
}

.user-card {
  /* background-color: #343a40; */
  color: #000;
  padding: 10px;
  margin: 20px;
  border-radius: 20px;
  width: 45%;
  display: flex;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 10px;
}
.img {
  width: 250px;
  height: 250px;
}

.user-card .name {
  color: black;
  /* align-items: left; */
}
.section1 {
  margin: 2%;
  padding: 5px;
  border: 2px solid #343a40;
}
#title2 {
  text-align: left;
}
#range-div {
  display: flex;
}
.rangex {
  margin: 25%;
}
.button1 {
  color: rgb(59, 62, 235);
  background-color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 8pt;
  border-width: 1px;
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 40px;
}
